[submodule "foundation"]
	path = foundation
	url = git@github.com:pixparker/arad-vision-foundation.git
[submodule "standards/ux"]
	path = standards/ux
	url = git@github.com:pixparker/ux-best-practices.git
	branch = main
